Package: com.rdrnt.snoolock
Name: snoolock
Depends: mobilesubstrate com.dba-tech.lockpages
Architecture: iphoneos-arm
Description: Adds reddit to your Lockscreen!
Maintainer: rdrnt
Author: rdrnt
Section: Tweaks
Version: 0.0.1-203+debug
Installed-Size: 516
